{% extends 'base.html' %}
{% block contenido %}
<a href="{% url 'roles:crear' %}" class="button is-large is-success margin-bottom mb-4">Crear Rol</a>
<div class="columns is-multiline">
    {% for rol in roles %}
    <div class="column is-3">
        <div class="box">
            <h2 class="subtitle">{{ rol }}</h2>
            <div class="buttons">
                <a href="{% url 'roles:editar' rol.id %}" class="button is-info">Editar</a>
                <a href="{% url 'roles:eliminar' rol.id %}" class="button is-danger">Eliminar</a>
            </div>
        </div>
    </div>
    {% empty %}
        <h1>Sin roles registrados.</h1>
    {% endfor %}
</div>
{% endblock contenido %}