{% extends 'base.html' %}
{% block contenido %}
<a href="{% url 'empleados:crear' %}" class="button is-large is-success margin-bottom mb-4">Crear Empleado</a>
<div class="columns is-multiline">
    {% for empleado in empleados %}
    <div class="column is-3">
        <div class="box">
            <h2 class="subtitle">{{ empleado }}</h2>
            <div class="buttons">
                <a href="{% url 'empleados:editar' empleado.id %}" class="button is-info">Editar</a>
                <a href="{% url 'empleados:eliminar' empleado.id %}" class="button is-danger">Eliminar</a>
            </div>
        </div>
    </div>
    {% empty %}
        <h1>Sin empleados registrados.</h1>
    {% endfor %}
</div>
{% endblock contenido %}