<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>Gestion Colegio S.A.S</title>
</head>

<body>
    <section class="hero is-link">
        <a href="{% url 'empleados:inicio' %}">
            <div class="hero-body">
                <p class="title">
                    Colegio S.A.S
                </p>
                <p class="subtitle">
                    Prueba practica con Django
                </p>
            </div>
        </a>
    </section>
    <main class="section">
        {% block contenido %}{% endblock contenido %}
    </main>
</body>

</html>